.main__log {
  overflow: hidden;
  width: 100%;
}
.TopBar {
  display: none;
}
.LogoImg {
  position: absolute;
  width: 70px;
  height: 66px;
  left: 90px;
  top: 82px;

  background: url(./../img/logo.svg);
}
.VectorImg {
  z-index: 1;
  position: absolute;
  width: 716.5px;
  height: 849px;
  /* left: 565px; */
  right: 0;
  top: 0px;
  background-image: url(./../img/Vector.svg);
}
.SBerryImg {
  filter: drop-shadow(10px 20px 50px rgba(0, 0, 0, 0.3));
  z-index: 6;
  position: absolute;
  background-size: 100%;
  width: 286px;
  height: 279px;
  right: 65px;
  top: 213px;
  background-image: url(./../img/Strawberry.svg);
}
.BananaImg {
  z-index: 4;
  position: absolute;
  width: 568px;
  height: 510px;
  right: 0;
  top: 340px;
  background-image: url(./../img/banana.svg);
}
.LeafImg {
  z-index: 3;
  position: absolute;
  width: 756px;
  height: 857px;
  right: 250px;
  top: -26px;
  background-image: url(./../img/Leaf.svg);
}
.LogoText {
  position: absolute;
  width: 112px;
  height: 24px;
  left: 148px;
  top: 125px;
  background-image: url(./../img/SlimMom.svg);
  background-repeat: no-repeat;
}
